<configuration>
	<connectionStrings>
		<add name="IMDBDatabase"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IMDB;Integrated Security=True;Trust Server Certificate=False;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
